{% extends 'home/homebase.html' %}
{% load static %}

 {% block body %} {% endblock body %}
{% block slider %}
<div id="home">
    <div class="container">
			<!-- home wrap -->
				<!-- home wrap -->
			<div class="home-wrap">

<table width="100%"  >
    <tr>
        <th>E-mail</th>
        <th>Телефон</th>
        <th><img src="{% static 'img/Telegram-logo.svg' %}" width="50 px" alt="telegram"></th>
    </tr>
    <tr>
        <td>
            kirill.v.kuznetsov@rt.ru
        </td>
        <td>
            +7(926)240-2106
        </td>
        <td>
            @Maxendro
        </td>
    </tr>
</table>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
			</div>
			<!-- /home wrap -->

	</div>
	<!-- /HOME -->
{% endblock slider %}