{% extends 'home/homebase.html' %}
{% load static %}

 {% block body %} {% endblock body %}
{% block slider %}
<div id="home">
    <div class="container">
        <br><br>
			<div class="home-wrap"  align="center">
               <h1>Юридический адрес</h1><br>
                <h3>ООО "Анк-Морпоркская ПРАВДА"</h3><br>
                <h4>Адрес: Плоский Мир, г.Анк-Морпорк, ул. Троличий Тупик, 1, оф.13</h4><br>
                <h3>Телефон: +7 (495)123-45-67 Email: info@onlytrue.fw</h3><br><br>
            </div>
	</div>
</div>
{% endblock slider %}