{% load static %}
{% load django_bootstrap5 %}
<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">

				<div class="category-nav">
					<span class="category-header">МЕНЮ <i class="fa fa-list"></i></span>
					<ul class="category-list">

						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About Us</a></li>
						<li><a href="{% url 'contacts' %}">Contacts</a></li>
						<li><a href="{% url 'contacts' %}">News Page</a></li>
						<li><a href="{% url 'admin:index' %}">Admin</a></li>
						<li>
							<div class="text-center" >
							 <a href="{% url 'create' %}" class="btn btn-warning" role="button">Добавить новость</a>
						    </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>

	<!-- /NAVIGATION -->