{% load static %}
{% load django_bootstrap5 %}


  <div class="wrapper">
    <h2>Регистрация</h2>
    <form action="#">
      <div class="input-box">
        <p>Ваше имя*</p>
        <input type="text" placeholder="Введите ваше имя" required>
      </div>
      <div class="input-box">
        <p>Ваш email*</p>
        <input type="text" placeholder="Введите ваш email" required>
      </div>
      <div class="input-box">
        <p>Ваш пароль*</p>
        <input type="password" placeholder="Введите пароль" required>
      </div>
      <div class="input-box">
        <p>Подтверждение пароля*</p>
        <input type="password" placeholder="Подтвердите пароль" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h6>Я согласен со всем бредом и дичью</h6>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Зарегистрироваться">
      </div>
      <div class="text">
        <h3>Уже зарегистрированы? <a href="#">Войти</a></h3>
      </div>
    </form>
  </div>